// checked
.switch-input:checked ~ .switch-label::before {
  background-color: $secondary-color;
  color: #fff;
  border-color: $secondary-color;
  background: $secondary-color linear-gradient(180deg, #f5c400, $secondary-color) repeat-x;
}

.switch .switch-input:checked ~ .switch-label::after {
  background-color: $black;
}

// unchecked
.switch-label::before {
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.switch .switch-label::after {
  background-color: #adb5bd;
}
