// fonts
$primary-font-family: Raleway; // 400, 600, 800

$primary-font: $primary-font-family, sans-serif; // 600

// colors
$primary-color: #333;
$secondary-color: #ffcc00;
$dark-gray: #717171;
$light-gray: #757575;
$light-white: #fff8f8;

$black: #333;
$white: #fff;
