.contact {
  color: $white;

  padding: 4rem 0;

  &__info {
    color: $secondary-color;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__field {
    font-size: 1rem;
    font-weight: 600;
  }
}
