.hero {
  padding: 22rem 0 8rem;
  position: relative;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 14rem 0 8rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 12rem 0 8rem;
    text-align: left;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    background-color: $gray-900;
    @include media-breakpoint-up(lg) {
      width: 73%;
      border-radius: 0 0 250px 0;
    }
  }

  @include media-breakpoint-up(lg) {
    &::after {
      content: '';
      background: linear-gradient(rgba(255, 224, 102, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../images/hero/banner3.png');
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      width: 750px;
      height: 675px;
      background-color: $black;
      border-radius: 0 0 0 250px;
      z-index: -10;
    }
  }

  &__heading {
    font-size: 1.75rem;
    font-weight: 800;
    color: $white;
    @include media-breakpoint-up(md) {
      font-size: 4.5rem;
    }
  }

  &__text {
    color: $white;
    font-size: 1rem;
    padding-right: 0;

    @include media-breakpoint-up(lg) {
      padding-right: 16rem;
    }
  }

  &__offer {
    width: 280px;
    position: static;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      width: 75%;
      position: absolute;
      right: 0;
      bottom: 160px;
    }
  }

  &__brands {
    width: 288px;
    padding: 0 2rem;
    @include media-breakpoint-up(md) {
      width: 700px;
    }
  }
}
