.announcement {
  padding: 4rem 0 2rem;
  background: $black;

  @include media-breakpoint-up(lg) {
    padding: 4rem 11rem 0;
  }

  &__text {
    color: #161616;
    span {
      background-color: #ff0018;
      color: #161616;
    }
  }

  &__hint {
    color: #ff6a6c;
  }
}
