.announcement {
  padding: 4rem 0 0;
  background: $black;

  @include media-breakpoint-up(lg) {
    padding: 4rem 11rem 0;
  }

  &__text {
    span {
      background-color: $red;
    }

    &:last-of-type {
      color: $red;
    }
  }
}
